a {
  text-decoration: none;
  color: navy;
}

p, span, h3 {
  font-family: 'Cormorant Garamond', serif;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Flemish Script";
  src: local("OPTIFlemish-Script"), url(./fonts/OPTIFlemish-Script.otf);
}

h1,
h2
 {
  font-family: "Flemish Script";
  font-weight: lighter;
}

h2 {
  font-size: 3rem;
  margin: 2%;
}

h3 {
  font-weight: normal;
  font-style: italic;
  margin: 0;
}

/* ------ 
   HEADER
   ------ 
*/
.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.header-link {
  font-size: 4rem;
}

h1 {
  margin-bottom: 0;
}

.names h1 a {
  font-size: 5.5rem;
}

.date h2 {
  margin: 0 0 2% 0;
  font-family: "Cormorant Garamond", serif;
  font-size: 2.4rem;
}

.navbar a {
  width: 15%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem;
  padding: 15px;
  text-decoration: none;
  color: navy;
}
.navbar a:hover {
  border-radius: 0px;
  background: navy;
  color: white;
}

.cover-photo {
  width: 100%;
  position: relative;
}
.cover-photo img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cover-photo h1 {
  position: absolute;
  bottom: 0%;
  right: 6%;
  color: white;
  font-size: 5rem;
  font-weight: lighter;
  line-height: 4rem;
}

.subpage {
  width: 900px;
  margin: 10% auto;
  margin-top: 2%;
  font-size: 1.8rem;
}

p {
  text-align: left;
}

.ceremony-link {
  text-align: center;
  display: block;
}

/* RESPONSIVE */

@media screen and (max-width: 450px) {
  /* html {
    width: 100%;
  } */
  .navbar {
    flex-direction: column;
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .hamburger-icon {
    /* width: 30px; */
    /* height: 30px; */
    width: 50px;
    height: 50px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
  }
  .hamburger-icon i {
    /* width: 100%; */
    margin: 2.5%;
    font-size: 1.3rem;
  }
  .navbar a {
    width: 100%;
    padding: 15px 0;
  }
  .subpage {
    width: 100%; 
  }
  .visible {
    display: block;
  }
  .invisible {
    display: none;
  }
  p {
    margin: 0 5%;
    line-height: 3rem;
  }
  .ceremony-link {
    /* font-size: 1.5rem; */
    padding-top: 5%;
  }
}
