a {
  text-decoration: none;
  color: navy;
}

p, span, h3 {
  font-family: 'Cormorant Garamond', serif;
}

.App {
  text-align: center;
}

@font-face {
  font-family: "Flemish Script";
  src: local("OPTIFlemish-Script"), url(./fonts/OPTIFlemish-Script.otf);
}

h1,
h2
 {
  font-family: "Flemish Script";
  font-weight: lighter;
}

h2 {
  font-size: 3rem;
}

/* ------ 
   HEADER
   ------ 
*/
.header {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.header-link {
  font-size: 4rem;
}

.date h2 {
  margin: 0 0 2% 0;
}

.navbar a {
  width: 15%;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.8rem;
  padding: 15px;
  text-decoration: none;
  color: navy;
}
.navbar a:hover {
  border: 1px solid navy;
  border-radius: 0px;
  background: navy;
  color: white;
}

.cover-photo {
  width: 100%;
  position: relative;
}
.cover-photo img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.cover-photo h1 {
  position: absolute;
  bottom: 0%;
  right: 6%;
  color: white;
  font-size: 5rem;
  font-weight: lighter;
  line-height: 4rem;
}

.subpage {
  width: 900px;
  margin: 10% auto;
  font-size: 1.8rem;
}

p {
  text-align: left;
}

.ceremony-link {
  text-align: center;
  display: block;
}

/* RESPONSIVE */

@media screen and (max-width: 450px) {
  .navbar {
    flex-direction: column;
  }
  .navbar a {
    width: 100%;
  }
}
